

# Build output
eclipse-workspace/Intro/target/

screenshots/
eclipse-workspace/Intro/test-output/
eclipse-workspace/Intro/logs/
logs/

eclipse-workspace/Intro/bin

# Eclipse specific files
eclipse-workspace/.metadata/
eclipse-workspace/.settings/
*.classpath
*.project


# Eclipse workspace metadata
eclipse-workspace/.metadata/
/.metadata/
