

# Build output
eclipse-workspace/Intro/target/


# Eclipse specific files
eclipse-workspace/.metadata/
eclipse-workspace/.settings/
*.classpath
*.project


# Eclipse workspace metadata
eclipse-workspace/.metadata/
/.metadata/
