<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
  <Appenders>
    <Routing name="TestMethodRouting">
      <Routes pattern="$${ctx:testName}">
        <Route key="${ctx:testName}">
          <RollingFile name="Rolling-${ctx:testName}"
                       fileName="logs/${ctx:testName}.log"
                       filePattern="logs/${ctx:testName}-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout pattern="[%d{HH:mm:ss}] [%-5level] [%X{testName}] %logger{36} - %msg%n"/>
            <Policies>
              <SizeBasedTriggeringPolicy size="5MB"/>
            </Policies>
          </RollingFile>
        </Route>
      </Routes>
    </Routing>
  </Appenders>

  <Loggers>
    <Root level="info">
      <AppenderRef ref="TestMethodRouting"/>
    </Root>
  </Loggers>
</Configuration>
