<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="5">
  <Properties>
    <Property name="LOG_PATTERN">%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Property>
  </Properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="${LOG_PATTERN}" />
    </Console>

    <Routing name="RoutingAppender">
      <Routes pattern="${ctx:logFileName}">
        <Route type="RollingFile">
          <RollingFile name="RollingFile-${ctx:logFileName}"
                       fileName="logs/${ctx:logFileName}.log"
                       filePattern="logs/archive/${ctx:logFileName}-%d{yyyy-MM-dd-HH-mm}.log.gz">
            <PatternLayout>
              <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>
          </RollingFile>
        </Route>
      </Routes>
    </Routing>
  </Appenders>

  <Loggers>
    <Root level="info">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="RoutingAppender"/>
    </Root>
  </Loggers>
</Configuration>
